body {
    font-size: 15px;
}
.table td{
	vertical-align: middle;
}
.txt_xlrting{
	color: #F05223;
}

.col_1_center th:first-child,
.col_1_center td:first-child,
.col_1ast_center th:last-child,
.col_1ast_center td:last-child,
.col_3_center td:nth-child(3),
.col_4_center th:nth-child(4),
.col_4_center td:nth-child(4),
.col_5_center th:nth-child(5),
.col_5_center td:nth-child(5),
.col_6_center th:nth-child(6),
.col_6_center td:nth-child(6){
	text-align: center;
}
.badge-info,
.btn.btn-info,
.btn_xlrting{
	background-color: #F05223;
}
.btn.btn-info:hover,
.btn_xlrting:hover{
	background-color: #ED2424;
}
.bg_xlrting{
	background-color: #F05223 !important;
}
a{
	text-decoration: underline;
}
a.btn,
.pagination a,
.nav a{
	text-decoration: none;
}
a.btn.btn-outline-danger:focus{
	color: red;
}
a.btn.btn-info:hover, a.btn.btn-info:focus{
	color: #fff;
}
.input-group-text{
	padding: .255rem .75rem;
}
.btn {
    padding: .250rem .75rem;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle{
    background-color: #e80000;
    border-color: #ED2424;
	 color: #fff;
}
.login-content {
    margin-top: 0;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav li > a:hover, .navbar .navbar-nav li > a:hover .menu-icon,
.navbar .navbar-nav li.active .menu-icon, .navbar .navbar-nav li:hover .toggle_nav_button:before, .navbar .navbar-nav li .toggle_nav_button.nav-open:before {
    color: #ED2424;
}
.btn-info:hover{
	    border-color: #ED2424;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.login-form h4 {
    margin-bottom: 20px;
	 color: #F05223;
}
.btn-info {
    border-color: #ca0000;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .10rem .4rem;
	 font-size: .800rem;
}

.input-group-text,
.alert{
	border-radius: 0;
}
.form-control{
	border-radius: 0.1rem;
	font-size: 0.9rem;
	height: calc(2rem + 2px);
}
.card-header {
    background-color: #ff997b21;
    border-bottom: 1px solid rgba(255, 0, 0, 0.17);
}
.card-title {
    margin-bottom: 0;
}
.progress {
   background-color: #f26b4340;
}
.qShorting {
	border: 1px dashed #FCDAD0;
	padding: 5px;
	color: #F05223;
	cursor: move;
}
.inactive {
	opacity: 0.5;
}
.draging{
	cursor: move;
}
.tr_disabled{
	opacity: 0.5;
}
.loading_spinning{
	display: inline-block;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Custom CSS */
.alert a.close {
    text-decoration: none;
}

table.dataTable {
    border-collapse: collapse !important;
}

body
{
    margin-top: 20px;
}

.table>thead>tr>td.active, .table>tbody>tr>td.active, .table>tfoot>tr>td.active, .table>thead>tr>th.active, .table>tbody>tr>th.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>tbody>tr.active>td, .table>tfoot>tr.active>td, .table>thead>tr.active>th, .table>tbody>tr.active>th, .table>tfoot>tr.active>th {
    background-color: #f5f5f5;
}
.navbar.auth_navbar{
	display: flex;
}
nav.auth_navbar ul{
	text-align: center;
	width: 100%;
	display: block;
    background: #eeeeee8f;
}
nav.auth_navbar ul li{
    display: inline-block;
    width: auto;
    margin: 0px auto;
}
nav.auth_navbar ul li a{
	text-decoration:none;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-bronze>.panel-heading {
    color: #fff;
    background-color: #cd7f32 ;
    border-color: #cd7f32 ;
}

.panel-bronze {
    border-color: #cd7f32  !important;
}

.btn-orange {
    color: #fff;
    background-color: #f05223;
    border-color: #f05223;
}

a.btn:hover,a.btn:focus {
    color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
}

.panel-silver>.panel-heading {
    color: #fff;
    background-color: #C0C0C0 ;
    border-color: #C0C0C0 ;
}

.panel-silver {
    border-color: #C0C0C0  !important;
}

.panel-gold>.panel-heading {
    color: #fff;
    background-color: #FFA500 ;
    border-color: #FFA500 ;
}

.panel-gold {
    border-color: #FFA500  !important;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}


.panel
{
    text-align: center;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}


.thumbnail-profile {
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #f86639 !important;
    background: #fff;
}

.thumbnail-profile img {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    height: 100%;
    width: auto !important;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
