.list-group-item{
	display: flex;
}
.rateit.rateit-font .rateit-reset span{
	top: 3px;
}
.first_rating_wrap{
	padding-bottom: 10px;
	border: 1px solid;
}
.first_rating_wrap h5{
	display: inline;
	font-weight: bold;
	font-size: 1.3em;
}
.fixed_footer_bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.form-custom {
    width: 650px;
    margin: 0 auto;
}

img.img-custom {
    width: 216px;
}

.text-center.link-custom {
    margin-top: 20px;
}

.alert-custom {
    padding: 10px 15px;
    margin-bottom: 20px;
}

.alert-custom-danger {
	background-color: #da574e;
    color: white;
}
  
.closebtn {
	margin-left: 15px;
	color: #ca9d9d;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
  
.closebtn:hover {
	color: black;
}




.btn-info.active, .btn-info:active, .btn-info.active:focus {
    background-color: #0b7290 !important;
}
.panel-bronze>.panel-heading {
    color: #fff;
    background-color: #cd7f32 ;
    border-color: #cd7f32 ;
}

.panel-bronze {
    border-color: #cd7f32  !important;
}

.btn-orange {
    color: #fff;
    background-color: #f05223;
    border-color: #f05223;
}


.panel-silver>.panel-heading {
    color: #fff;
    background-color: #C0C0C0 ;
    border-color: #C0C0C0 ;
}

.panel-silver {
    border-color: #C0C0C0  !important;
}

.panel-gold>.panel-heading {
    color: #fff;
    background-color: #FFA500 ;
    border-color: #FFA500 ;
}

.panel-gold {
    border-color: #FFA500  !important;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.plan_seection > a input{
   display: none;
}

.loading_spinning{
	display: inline-block;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.loading2change{
   display: none;
}













@media only screen and (max-width:690px){
	.form-custom {
		width: 100%;
	}
}


  